{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div {{ react_component('Subscribe') }}></div>
    {#{{ include('user/_form.html.twig') }}#}
{% endblock %}
